.addNewTaskContainer {
  margin: 5rem;
}

.addNameandButton {
}

.addNewTask {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #484848;
  input {
    width: 100%;
  }
}

.card {
  display: flex;
  justify-content: center;
}
